{% extends 'base.html'%}

{% block content%}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <!-- left side bar -->
        {% include 'dashboard/sidebar.html'%}
        {% if perms.auth.add_user%}
        <!-- right side content -->
        <div class="col-md-9">
            <h2>Add User</h2>
           
            <form style="width: 70%;margin: 0 auto;" action="{% url 'add_user'%}" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-warning">Add</button>
            </form>
        </div>
        {%else%}
        <h3>No Authorization</h3>
        {%endif%}
    </div>
{%endblock%}