{% extends 'base.html'%}

{% block content%}
<div class="container">
    <div class="row">
        <!-- left side bar -->
        {% include 'dashboard/sidebar.html'%}
        <!-- right side content -->
        <div class="col-md-9">
            <h2>All Posts</h2>
            <a href="{% url 'add_post' %}">
                <button class="btn float-right mb-2 btn-dark">Add New</button>
            </a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Blog title</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Featured</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for blog in posts%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{blog.title}}</td>
                        <td>{{blog.category}}</td>
                        <td>{{blog.author}}</td>
                        <td>{{blog.status}}</td>
                        {% if blog.is_featured%}
                        <td>Yes</td>
                        {%else%}
                        <td>No</td>
                        {%endif%}
                        <td>{{blog.created_at}}</td>
                        <td>{{blog.updated_at}}</td>
                        <td>
                            <a href="{% url 'edit_post' blog.id%}">
                            <i class="fa fa-edit text-success"></i>
                            </a>
                            &nbsp;
                             <a href="{% url 'delete_post' blog.id%}">
                            <i class="fa fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}